---
layout: home
---

<section class="main-section flex-column-center"> <!--style="border: 5px solid black;">-->
    <div class="about-section flex-column-center"> <!--style="border: 5px solid black;">-->


        <img src="{{ site.author.thumb | prepend: '/images/'}}" alt="author thumb" class="img-half-rounded">

        <article class="personal-bio">
        <p>I am a forever learner who luckily chose a career where innovation is not scarce.
    I attack most of my problems with some Java but HTML and CSS are becoming apart of my toolset too.
    Javascript will be my new tool to learn in 2017.</p>

      <p>
      If I am not programming, you'll see training for some triathlon/aquathon/race or eating pancakes. I can't forget PANCAKES!!
      </p>

      <p>Keep up with me by checking out my Blog, GitHub, StackOverflow, and Strava:</p>
      </article>
    </div>
    <div class="internal-nav-section flex-row-center flex-space-around-content"> <!--//style="border: 5px solid black; ">-->

        <a href="{{ '/blog' | prepend: site.baseurl }}" class="btn-square">Blog</a>
        <a href="{{ '/projects' | prepend: site.baseurl }}" class="btn-square">Projects</a>

    </div>
    <div class="external-nav-section flex-row-center flex-space-between-content"> <!--style="border: 5px solid black;">-->
        {% include icon-github.html %} {% include icon-stackoverflow.html %}
    </div>
</section>
