---
layout: home
---

<section class="about-me">

  <div class="about-me-inner">
    <img src="{{ site.author.thumb | prepend: '/images/'}}" alt="author thumb" class="img">
    <h3>Hi! I'm <strong itemprop="name">{{ site.author.name }}</strong>, a <em itemprop="jobTitle">{{ site.author.job }}</em>.</h3>
    <h4>{{ site.author.bio }}</h4>

    <a href="{{ '/blog' | prepend: site.baseurl }}" class="btn">blog</a>
    <a href="{{ '/projects' | prepend: site.baseurl }}" class="btn">projects</a>
    <br>
    {% include icon-github.html %}
    {% include icon-stackoverflow.html %}

  </div>
  {% include footer-home.html %}

</section>
