<div class="header">

  <ul class='menu'>
    <li>
      <a class="link" href="{{ site.baseurl }}">About</a>
    </li>
    <li>
      <a class="link" href="{{ '/blog' | prepend: site.baseurl }}">Blog</a>
    </li>
    <li>
      <a class="link" href="https://github.com/{{ site.github_username }}">
        Github
      </a>
    </li>
    <li>
       <a class="link"
        href="https://www.strava.com/athletes/{{site.strava_username}}">
        Strava
        </a>
    </li>
    </div>
    </ul>
</div>
