

.img{
  width: 600px;
  border-radius: 50%;


}

.meta-svgs{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100px;
}

.nav-buttons{
  /*border: 2px solid black;*/
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 150px;
}
footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
}

.about-me{
  /*border: 2px solid black;*/
  width: 700px;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;

}


p{
text-align: center;
}



