* {
  box-sizing: border-box;
    /*automatically fits your padding and margins
                        to the content width*/
}

body{
    font-size: 1.125em;   //16px
    line-height: 1.5;
    font-family: "source-sans-pro",sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $semi-bold;
}
p {
    font-size: 1.1em; //18px;
    text-align: left;
    /*border: 1px solid black;*/
    text-overflow: ellipsis;
    word-wrap: break-word;
}

a {
    text-decoration: none;
    color: black;
    display: block;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}

ol, li{
    list-style-type: none;
}



hr {
    width: 100%;
    height: 1px;
    background-color: #f0f0f0;
    margin-top: 10px;
    margin-bottom: 5px;
    display: block;
    clear: both;
}

