

%btn {
  font: 1.25em; //20/16px;
  color: #333333;
  margin: .3em;
  padding: 2px 6px 2px 6px;
  text-decoration: none;
  text-align: center;
}

.btn-square {
  @extend %btn;
  /*Think of DRY way to color borders*/
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #6495ed;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #6495ed;
  --border-width: 3px;
  --box-shadow: 1px 1px 50px grey;
}

.btn-rounded {
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  border-radius: 30px;
}
