.fixed-header {
  position: fixed;
  display: flex;
  justify-content: space-between;

  width: 100%;
  padding: 50px;


}

.header {
  display: flex;
  justify-content: space-between;

  width: 100%;
  padding: 50px;


}
