a.link:hover {
    foreground-color: orange;
    text-decoration: underline;
}

a:link,
a:visited {
  color: #5D6063;
  text-decoration: none;
}

.link{
  font-size: 1.5em;
}

.blog-link{
    @extend .link;
    color: #FC4C01;
  }
