.link:hover {
    color: #ff9b35;
    text-decoration: underline;
}

a:link,
a:visited {
  color: #5D6063;
  text-decoration: none;
}

.link{
  font-size: 1.2em;
  margin: 10px;
  cursor: pointer;
}

.blog-link{
    @extend .link;
    color: #FC4C01;
  }
