


//Create max-width media queries
@mixin max-width($max-width-name) {
  $max-width-value: $max-width-name; //get-width-value($max-width-name);

  @if($max-width-value != null) {
    max-width: $max-width-value
  }
  else {
    @warn "No value was retrieved from #{$max-width-name}. " + "You can find all the $max-widths key-value pairs in _variables.scss.";
  }
}

@mixin max-width-limit($max-width-name) {
  $max-width-value: get-width-limit-value($max-width-name);

  @if($max-width-value != null) {
    @media(screen and max-width: $max-width-value) {
      @content;
    }
  }
  else {
    //@warn "No value was retrieved from #{$max-width-name}. " + "You can find all the $widths-limit key-value pairs in _variables.scss.";
  }
}
