

.post-title {
  font-size: $large-font;
  font-weight: $semi-bold;
  margin: 10px, 10px;
  /*width: inherit;*/
  text-align: center;

  @include max-width-limit(medium-device) {
    font-size: $medium-font;
  }
}
