.post-content,
.post-content-nav{
  width: 50%;
  margin: 5px;


   @include max-width-limit(medium-device) {
    margin: 5px;
    width: 75%;
  }


   @include max-width-limit(small-device) {
    margin: 5px;
    width: 85%;
  }
}

