* {

    margin: 0px;
    padding: 0px;
    border: 0px;
    outline: 0px;
    box-sizing: border-box;
}

html, body{

    height: 100%;
    width: 100%;

}

body,
input,
select,
textarea,
button {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

a {
    -webkit-tap-highlight-color: #ff9b35;
}

::-moz-selection {
    background: #ff9b35;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #ff9b35;
    color: #fff;
    text-shadow: none;
}

img {
    -ms-interpolation-mode: bicubic;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

.group:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
}

* html.group {
    height: 1%;
}


/* IE6 */

*:first-child+html .group {
    min-height: 1px;
}


/* IE7 */
