/*Home page*/
.main{
  width: 100%;
  height: 100%;
}

.about {
 /*large device my big monitor*/
 // @include max-width(80em);
 width: 70%;
  margin: 1em .5em;

  @include max-width-limit(medium-device){
    width: 80%;
    margin-top: 10px;
    margin-bottom: 0px;
  }

   @include max-width-limit(small-device){
    width: 90%;
    margin-top: 10px;
    margin-bottom: 0px;
  }
}

.internal-nav {
  /*large device my big monitor*/
  //@include max-width(9.375em);
  margin-bottom: 15px;
  width: 30%;

  @include max-width-limit(small-device){
    width: 50%;
    margin-bottom: 5px;
  }

}
