

$widths-limit:(

  small-device: 56em  //900px/16px python calc
  ,medium-device: 73.125em   //1170px/16px
  //64em //1024px/16px
  ,
);


$x-large-font:  3.5em;
$large-font: 2.5em;    /* 50px/16px;*/;
$medium-font: 2em;
$small-font: 1.2em;
$x-small-font: 1em;

$semi-bold: 600;
