---
import BlogEntry from '@components/BlogEntry.astro';
import BaseLayout from '@layouts/BaseLayout.astro';
import { getPublishedBlogEntries } from '@utils/blog';
const publishedBlogEntries = await getPublishedBlogEntries();
---

<BaseLayout title="Blog">
    <h1>Blog Posts</h1>
    <ul>
        {
            publishedBlogEntries.map((blogEntry) => (
                <BlogEntry blogEntry={blogEntry} />
            ))
        }
    </ul>
</BaseLayout>
<style>
    h1 {
        margin-bottom: 42px;
    }
    ul {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
    }
</style>
