---
import BlogEntry from '@components/BlogEntry.astro';
import BaseLayout from '@layouts/BaseLayout.astro';
import { getPublishedBlogEntries } from '@utils/blog';
const publishedBlogEntries = await getPublishedBlogEntries();
---

<BaseLayout title="Blog">
    <h1>Blog Posts</h1>
    <ul>
        <hr />
        {
            publishedBlogEntries.map((blogEntry) => (
                <BlogEntry blogEntry={blogEntry} />
            ))
        }
    </ul>
</BaseLayout>
<style>
    h1 {
        margin-bottom: 42px;
        font-size: 2.5rem;
        @media (max-width: 720px) {
            font-size: 2rem;
        }
    }
    ul {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
    }
    hr {
        border-bottom: solid rgb(199, 198, 198) 1px;
        max-width: 40rem;
    }
</style>
