---
import { dateWithShortMonth } from '@utils/date';
const { blogEntry } = Astro.props;

const formattedDate = dateWithShortMonth(blogEntry.data.publishedDate);
---

<li>
    <div class="header">
        <a class="title" href={`/blog/${blogEntry.id}`}
            >{blogEntry.data.title}</a
        >
        <p class="published-date">
            {formattedDate}
        </p>
    </div>
    <p>{blogEntry.data.headline}</p>
</li>

<style>
    li {
        border-bottom: solid rgb(199, 198, 198) 1px;
        padding: 12px;
        padding-bottom: 4px;

        max-width: 40rem;
        border-radius: 2px;
    }

    .header {
        margin-bottom: 12px;
    }
    .published-date {
        font-size: 0.85rem;
    }
    .title {
        font-size: 1.5rem;
    }
</style>
