---
const { title } = Astro.props;
import NavMenu from '@components/NavMenu.astro';
import ResetCss from '@components/ResetCss.astro';
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <title>{title}</title>
        <ResetCss />
    </head>
    <body>
        <main>
            <NavMenu />
            <section>
                <slot />
            </section>
        </main>
    </body>
</html>
<style>
    main {
        padding: 32px 32px;
    }
    section {
        padding: 16px;
    }
</style>
